.page-404 {
  .header-404 {
    margin-top: 37px;
    text-align: center;
  
    h1 {
      font-family: $ffOpenSans;
      font-weight: 300;
      font-size: 16px;
      color: #4B3D32;
      margin-bottom: 24px;
    }
  }

  .product {
    &-middle {
      margin-top: 120px;
    }

    &-text {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .product-link {
        margin-right: 30px;

        .arrow-left {
          transform: rotate(45deg);
        }
      }
    }
  }
}