.aboutus {
  .container {
    max-width: 980px;
  }
  &-header {
    margin-bottom: 80px;
    h1 {
      color: $colorBlack;
      font-size: rem(44px);
    }
    p {
      font-weight: 300;
      padding: 17px 0;
    }
  }
  &-now {
    position: relative;
    padding-top: 130px;
    padding-bottom: 240px;
    margin-bottom: 120px;
    overflow: hidden;
    @media (max-width: 992px) {
      background: rgb(185, 187, 182);
      background: linear-gradient(
        90deg,
        rgba(185, 187, 182, 1) 0%,
        rgba(201, 202, 197, 1) 39%,
        rgba(237, 237, 237, 1) 100%
      );
      padding-top: 90px;
      padding-bottom: 180px;
    }
    @media (max-width: 576px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    .container {
      max-width: 1366px;
    }

    &-img {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 100vw;
      min-width: 1360px;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &-title {
      margin-bottom: 40px;
      font-size: 80px;
      line-height: 0.8;
    }
    &-item {
      display: inline-block;
      margin-right: 100px;
      @media (max-width: 768px) {
        margin-right: 50px;
      }
      &-title {
        margin-bottom: 12px;
      }
    }
  }
  &-build {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 120px;
    overflow: hidden;
    @media (max-width: 992px) {
      background: rgb(185, 187, 182);
      background: linear-gradient(
        270deg,
        rgba(237, 237, 237, 1) 100% rgba(185, 187, 182, 1) 0%,
        rgba(201, 202, 197, 1) 39%
      );
      padding-top: 90px;
      padding-bottom: 180px;
    }
    @media (max-width: 576px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    .container {
      max-width: 1366px;
    }
    &-title {
      font-size: rem(60px);
      line-height: 1;
    }
  }
  &-team {
    margin-bottom: 120px;
    &-card {
      gap: 12px;
      margin-bottom: 40px;
      &-img {
        -webkit-box-flex: 0;
        flex: 0 0 36%;
        max-width: 36%;
        line-height: 0;
        height: 240px;
        img {
          max-height: 240px;
        }
      }
      &-text {
        display: inline-block;
      }
      &-name {
        font-size: rem(18px);
        font-weight: 700;
        margin-bottom: 4px;
      }
      &-position {
        opacity: 0.5;
        margin-bottom: 12px;
      }
      &-desc {
        font-weight: 300;
        line-height: 1.5;
        @media (max-width: 400px) {
          line-height: 1.3;
        }
      }
    }
  }
  &-proj {
    margin-bottom: 120px;
    &-img {
      line-height: 0;
      height: 268px;
      img {
        max-height: 268px;
      }
    }
    &-item {
      margin-bottom: 40px;
    }

    h1 {
      color: $colorBlack;
      font-size: rem(44px);
      margin-bottom: 28px;
    }
    &-title {
      font-size: rem(18px);
      font-weight: 700;
      margin-bottom: 12px;
    }
    &-text {
      font-weight: 300;
      line-height: 1.5;
    }
  }
  &-smi {
    position: relative;
    margin-bottom: 120px;
    .ui-title {
      margin-bottom: 35px;
    }
    &-item {
      display: inline-block;
      margin-bottom: 50px;
      max-width: 240px;
      &:hover &-link {
        text-decoration: none;
      }
      &-img {
        line-height: 0;
        margin-bottom: 24px;
        height: 45px;
        img {
          max-height: 45px;
        }
      }
      &-link {
        font-weight: 700;
        font-size: rem(18);
        text-decoration: underline;
      }
    }
  }
  &-contact {
    .ui-title {
      margin-bottom: 28px;
    }
    &-item {
      margin-bottom: 40px;
      &-tel {
        font-weight: 300;
        margin-bottom: 12px;
        &:hover {
          text-decoration: underline;
        }
      }

      &-title {
        font-weight: 700;
        font-size: rem(18px);
        margin-bottom: 8px;
      }
      &-info {
        font-weight: 300;
        margin-bottom: 12px;
      }
      &-link {
        max-width: 40px;
      }
      table {
        font-size: rem(13);
        font-weight: 300;
        opacity: 0.65;
      }
    }
  }
}

// Style for map

.ymaps-2-1-79-map-copyrights-promo {
  display: none !important;
}
.ymaps-2-1-79-copyright .ymaps-2-1-79-copyright_logo_no {
  display: none !important;
}

// Slick styles
.aboutus-smi-arrows {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.aboutus-prev {
  text-align: left;
  position: absolute;
  left: -55px;
  cursor: pointer;
}
.aboutus-next {
  text-align: right;
  position: absolute;
  right: -55px;
  cursor: pointer;
}
.aboutus-smi .slick-dots li {
  display: inline-block;
  margin-right: 20px;
  opacity: 0.34;
  &.slick-active button {
    background: #000;
    opacity: 1;
  }
}
.aboutus-smi .slick-dots {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  text-align: center;
}
.aboutus-smi .slick-dots button {
  font-size: 0;
  line-height: 0;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: $colorBlack;
  width: 10px;
  height: 10px;
}
