.aboutus {
  .container {
    max-width: 980px;
  }
  &-header {
    margin-bottom: 80px;
    h1 {
      color: $colorBlack;
      font-size: rem(44px);
    }
    p {
      font-weight: 300;
      padding: 17px 0;
    }
  }
  &-now {
    padding: 133px 20px 240px 130px;
    // height: 556px;
    margin-bottom: 120px;
    background-image: url(../images/bg/aboutus-now.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 992px) {
      padding: 130px 0;
    }
    &-title {
      margin-bottom: 40px;
    }
    &-item {
      display: inline-block;
      margin-right: 100px;
      @media (max-width: 768px) {
        margin-right: 50px;
      }
      &-title {
        margin-bottom: 12px;
      }
    }
  }

  &-team {
    margin-bottom: 120px;
    &-card {
      gap: 12px;
      margin-bottom: 40px;
      &-img {
        -webkit-box-flex: 0;
        flex: 0 0 158px;
        max-width: 158px;
        line-height: 0;
        height: 240px;
        img {
          max-height: 240px;
        }
      }
      &-text {
        display: inline-block;
      }
      &-name {
        font-size: rem(18px);
        font-weight: 700;
        margin-bottom: 4px;
      }
      &-position {
        opacity: 0.5;
        margin-bottom: 12px;
      }
      &-desc {
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
  &-proj {
    margin-bottom: 120px;
    &-img {
      line-height: 0;
      height: 268px;
      img {
        max-height: 268px;
      }
    }
    &-item {
      margin-bottom: 40px;
    }

    h1 {
      color: $colorBlack;
      font-size: rem(44px);
      margin-bottom: 28px;
    }
    &-title {
      font-size: rem(18px);
      font-weight: 700;
      margin-bottom: 12px;
    }
    &-text {
      font-weight: 300;
      line-height: 1.5;
    }
  }
  &-smi {
    margin-bottom: 120px;
    .ui-title {
      margin-bottom: 35px;
    }
    &-item {
      display: inline-block;
      margin-bottom: 50px;
      &:hover &-link {
        text-decoration: none;
      }
      &-img {
        line-height: 0;
        margin-bottom: 24px;
        height: 45px;
        img {
          max-height: 45px;
        }
      }
      &-link {
        font-weight: 700;
        font-size: rem(18);
        text-decoration: underline;
      }
    }
  }
  &-contact {
    .ui-title {
      margin-bottom: 28px;
    }
    &-item {
      margin-bottom: 40px;
      &:hover a {
        text-decoration: underline;
      }
      &-title {
        font-weight: 700;
        font-size: rem(18px);
        margin-bottom: 8px;
      }
      &-info {
        font-weight: 300;
        margin-bottom: 12px;
      }
      table {
        font-size: rem(13);
        font-weight: 300;
        opacity: 0.65;
      }
    }
  }
}

// Style for map
.place-card .place-card-large {
  display: none;
}
.gm-inset-light {
  display: none;
}
