.cart {
    padding-bottom: 55px;
    &-wrapper {
      
      &-left {
        padding-left: 30px;
        margin-bottom: 28px;
  
        @media(max-width:992px) {
          padding-left: 0;
        }
      }
      &-right {
        padding-right: 20px;
        margin-bottom: 28px;
  
        @media(max-width:992px) {
          padding-right: 0;
        }
      }
    }
    &-title {
      font-weight: 600;
      font-size: rem(24);
      padding-bottom: 12px;
      border-bottom: 1px solid #DBD8D6;
      margin-bottom: 28px;
      font-family: $ffCormorant;
    }
    &-item {
      display: flex;
      position: relative;
      font-family: $ffOpenSans;
      &-img {
        display: inline-block;
        margin-right: 12px;
        flex: 0 0 14.8%;
        min-width: 100px;
        line-height: 0;
      }
      &-description {
        display: inline-block;
        vertical-align: top;
        padding-right: 25px;
      }
      &-title {
        margin-bottom: 16px;
        line-height: 1.1;
        a {
          transition: 0.5s ease;
          border-bottom: 1px solid rgba(255, 0, 0, 0);
          &:hover {
            border-bottom: 1px solid rgb(17, 17, 17);
          }
        }
      }
      &-price {
        margin-bottom: 38px;
        font-weight: 300;
        font-size: rem(32px);
        line-height: 1;
        &-currency { 
          font-size: rem(12px);
        }
      }
      &-features {
        margin-bottom: 10px;
        &-span {
          margin-left: 8px;
          opacity: 0.5;
        }
        &-circle {
          display: inline-block;
          vertical-align: sub;
          width: 20px;
          height: 20px;
          margin-left: 4px;
          background-color: #736F63;
          border-radius: 50%;
        }
      }
     
      &-close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &-info {
      font-family: $ffOpenSans;
      &-txt {
        font-weight: 300;
      }
      &-select {
        margin-bottom: 20px;
        select {
          padding-left: 5px;
          height: 40px;
          border: 1px solid #DBD8D6;
          width: 100%;  
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }       
        }
      }
      &-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        &-span {
          font-weight: 300;
        }
      }
      &-total {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
        font-weight: 700;
        border-top: 1px solid #DBD8D6;
        margin-bottom: 25px;
      }
      .ui-basket {
        width: 100%;
      }
    }
    
    @media(max-width:768px) {
      .order-1 {
        order: 1;
      }
      .order-2 {
        order: 2;
      }
    }
  }