.checkout {
  .container {
    max-width: 932px;
  }
  &-data {
    padding: 0 15px 0 12px;
    height: 630px;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
      // background: black;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: $colorBlack;
      border-radius: 20px;
    }
  }
  &-info {
    padding: 0 13px 0 32px;
  }
  &-title {
    font-size: rem(24);
    font-weight: 600;
    line-height: 1;
    padding-bottom: 12px;
    border-bottom: 1px solid #4b3d323c;
    margin-bottom: 28px;
    font-family: $ffCormorant;
  }
  &-form {
    padding-right: 15px;
  }
  &-container {
    margin-bottom: 40px;
  }
}

span.upload-error {
  left: 0;
  bottom: -17px;
  position: absolute;
  font-size: rem(12);
  color: rgb(252, 104, 104);
}
