.header {
  margin-bottom: 60px;
  padding-top: 20px;
  z-index: 2;

  @media (max-width: 576px) {
    margin-bottom: 0;
  }
  &-info {
    display: inline-block;
    vertical-align: sub;

    @media(max-width:992px) {
      display: none;
    }

    ul li {
      display: inline-block;
      margin-right: 50px;
      font-family: $ffCormorant;
      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      font-size: rem(18px);
      // margin-right: 50px;
      font-weight: 500;

        &:hover {
          .arrow-down{
            transform: rotate(-45deg);
            margin-top: 5px;
          }
        }

        &-title {
          display: flex;
          align-items: center;
          // margin-right: 50px;

          &:last-child {
            margin-right: 0;
          }
        
        }
    
        ul {
          display: none;
          position: absolute;
          padding-left: 24px;
          padding-top: 20px;
          padding-bottom: 20px;
          // padding-right: 24px;
          
          top:40px;
          // border-top: 40px solid rgba(0, 0, 0, 0);
          left: -25px;
          width: 235px;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
          z-index: 1;
          background-color: #ffffff;
        
          &:hover {
            display: block;
          }
          li {
            margin-bottom: 8px;
            line-height: 1.2;
            a {
              transition: 0.5s ease;
              border-bottom: 1px solid rgba(255, 0, 0, 0);
              &:hover {
                border-bottom: 1px solid rgb(17, 17, 17);
              }
            }
          }
        }
        &::before {
          content: "";
          display: none;
          padding: 50px 100px 50px 0;
          position: absolute;  
        }
        
        img {
          margin-left: 4px;
        }
        &:hover {
          &::before {
            display: inline-block;
          }
          ul {
            display: block;
          }
        }
      }
  }
  &-logo {
    font-size: rem(24);
    &:hover {
      opacity: 0.5;
    }
  }
  &-btns {
    position: relative;
    text-align: right;
    margin-top: 5px;
    &-search {
      display: none;
      position: absolute;
      right: 8.5%;
      top: -33%;
    @media(max-width:992px) {
      display: none !important;
    }
      input {
        display: inline-block;
        padding-left: 9px;
        height: 38px;
        width: 260px;
        border: 1px solid #DBD8D6;
      }
      
    }
    &-magnifier {
      display: inline-block;
      position: relative;
      vertical-align: bottom;
      margin-left: -5px;
      height: 38px;
      width: 40px;
      background-color: $colorBlack;
      cursor: pointer;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    &-shop {
      position: relative;
    }
    &-circle {
      display: none;
      position: absolute;
      left: -2px;
      bottom: 1px;
      width: 10px;
      height: 10px;
      background-color: $colorBlack;
      border-radius: 50%;
      &-active {
        display: block;
      }
    }
  }
  &-dropdown {
    display: flex;
    justify-content: flex-end;
    position: relative;
    text-align: right;
    margin-top: -7px;
    
    &-list {
      display: none;
      text-align: left;
      position: absolute;
      top: 70px;
      width: 298.75px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 24px;
      padding-right: 24px;
      z-index: 1;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;

      ul {
        margin-bottom: 24px;
        li {
          margin-bottom: 12px;
          font-size: rem(18px);
          font-weight: 500;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            font-family: $ffCormorant;
            transition: 0.5s ease;
            border-bottom: 1px solid rgba(255, 0, 0, 0);
            &:hover {
              border-bottom: 1px solid rgb(17, 17, 17);
            }
          }
        }
      }
    }
    &-title {
      margin-bottom: 16px;
      font-family: $ffOpenSans;
      font-size: rem(12);
      font-weight: 300;
    }
    &-previous {
      display: flex;
      margin-bottom: 12px;
      font-family: $ffCormorant;
      &-img {
        min-width: 24px;
        margin-right: 8px;
      }
      &-link {
          font-size: rem(18);
          line-height: 1;
          &:hover {
            text-decoration: underline;
           
          } 
      }
    }
  }
  &-menu {
    display: none;

    @media(max-width:992px){
      display: block;
      margin-top:-4px
    }
  }
  &-mob {
    display: none;
    margin: -20px -40px 0 -40px;
    padding:  20px 40px 20px 40px;
    background-color: #ffffff;
    &-box {
      border-bottom: 1px solid #DBD8D6;
      margin-bottom: 20px;
      &:last-child {
        border: none;
        margin-bottom: 40px;
      }
      ul li {
        margin-bottom: 20px;
        a {
          font-family: $ffCormorant;
          transition: 0.5s ease;
          font-size: rem(18);
          font-weight: 500;
          border-bottom: 1px solid rgba(255, 0, 0, 0);
          &:hover {
            border-bottom: 1px solid rgb(17, 17, 17);
          }
        }
      }
    }
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      font-weight: 500;
      font-family: $ffCormorant;
      font-size: rem(24);
    }
    &-adress {
      font-size: rem(14);
      font-weight: 300;
      margin-bottom: 16px;
    }
    &-time {
      opacity: 50%;
      margin-bottom: 40px;
      
      @media(max-width:380px) {
        max-width: 167px;
      }
    }
    &-contacts {
      display: flex;
      justify-content: space-between;
    }
    &-contact {
      display: flex;
      font-weight: 300;
      font-size: rem(14);
      
      img {
        width: 22px;
        margin-top: -2px;
        margin-right: 3px;
      }
    }
    &-magnifier {
     
      position: relative;
      width: 40px;
      height: 40px;
      background-color: $colorBlack;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    &-search {
      display: flex;
      margin-bottom: 44px;
      input {
        
        padding-left: 9px;
        width: 100%;
        height: 40px;
        opacity: 50%;
      }
    }
  }
}
.header-dropdown-list-mob {
  top:140px;
}
.header-btns-lupa{
  margin-right: 30px;
  @media (max-width:992px) {
    display: none;
  }
}
