.top-screen {
  position: relative;
  /*max-width: 1920px;*/
  margin: 0 auto 120px;

  @media (max-width: 400px) {
    margin-bottom: 40px;
  }

  &-slide {
    position: relative;
    // height: 100vh;
    // max-height: 1500px;
    overflow: hidden;
    &-wrap {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;
      height: 100%;
      align-items: center;
      padding-left: 75px;
      // @warn: DON'T DELETE
      @media(max-width: 768px) {
        padding-left: 0;
      }
      // @warn: DON'T DELETE END
      @media (max-width: 576px) {
        padding: 0 20px;
      }

      @media(max-width: 768px) {
        align-items: flex-end;
        position: relative;
        height: 80vh;
        z-index: 9999;
        left: 0;
        top: 0;
      }

      @media(max-width: 576px) {
        height: 100vh;
      }

      @media(max-width: 768px) {
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          width: 100%;
          height: 50%;
          bottom: 0;
          left: 0;
          background: linear-gradient(360deg, #4B3D32 0%, rgba(75, 61, 50, 0) 100%);
          mix-blend-mode: multiply;
        }
      }

      @media(max-width: 768px) {
        align-items: flex-end;
      }
    }
    &-img {
      // position: absolute;
      // transform: translate(-50%, -50%);
      // left: 50%;
      // top: 50%;
      // z-index: -1;
      min-width: 100%;
      // @warn: DON'T DELETE
      max-width: none;
      // @warn: DON'T DELETE END
      // height: 100%;
      @media (max-height: 500px) {
        height: auto;
      }

      @media(max-width: 768px) {
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, 0);
      }
    }
    &-content {
      position: relative;
      z-index: 1;
      max-width: 50%;
      // position: absolute;
      // transform: translate(0%, -50%);
      // left: 0%;
      // top: 50%;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // padding: 0 75px;
      @media(max-width: 1024px) {
        max-width: 100%;
      }

      // @media (max-width: 576px) {
      //   padding: 0;
      //   justify-content: end;
      //   padding-bottom: 66px;
      // }

      @media(max-width: 768px) {
        text-align: center;
        margin-bottom: 77px;
      }

      @media(max-width: 576px) {
        margin-bottom: 67px;
      }

      .ui-btn {
        padding: 0 40px;
        font-size: rem(14);
        @media (max-width: 768px) {
          color: #fff;
          border-color: #fff;
          height: 48px;
          line-height: 46px;
        }

        @media(max-width: 576px) {
          display: block;
        }

        @media(max-width: 400px) {
            color: #fff;
              border-color: #fff;
        }
      }
    }
    &-title {
      font-size: rem(80);
      font-weight: 500;
      margin-bottom: 25px;
      line-height: 85%;
      font-family: $ffCormorant;
      // @media (max-width: 992px) {
      //   font-size: rem(100);
      // }
      @media (max-width: 768px) {
        font-size: rem(60);
        margin-bottom: 20px;
      }
      // @media (max-width: 576px) {
      //   font-size: rem(60);
      //   max-width: 200px;
      // }
      @media (max-width: 768px) {
        color: #fff;
      }

      @media(max-width: 576px) {
        font-size: rem(40);
      }

      @media(max-width: 400px) {
        color:#fff;
      }
    }
    &-link {
      background: transparent;
      max-width: 100%;
    }
  }
  &-arrows {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    cursor: pointer;
    .prev {
      position: absolute;
      left: 40px;
    }
    .next {
      position: absolute;
      right: 40px;
    }
    @media (max-width: 768px) {
      display: none;
    }

    &:hover {
	    opacity: 0.5
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    text-align: center;
    & .slick-active {
      opacity: 1;
    }
    & li {
      display: inline-block;
      margin-right: 10px;
      opacity: 0.34;
    }
    & button {
      font-size: 0;
      line-height: 0;
      padding: 0;
      border-radius: 50%;
      border: none;
      width: 10px;
      height: 10px;
    }
  }
}

.main-catalog {
  margin-bottom: 75px;
  @media (max-width: 400px) {
    margin-bottom: 65px;
  }
  .ui-title {
    margin-bottom: 20px;
  }
  &-card {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 148%;
    margin-bottom: 40px;
    &:hover img {
      transform: translate(-50%, -50%) scale(1.05);
    }
    &:hover &-link {
      bottom: 35px;
      opacity: 0.6;
    }
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background: linear-gradient(360deg, #4B3D32 -15.53%, rgba(0, 0, 0, 0) 100%);
      mix-blend-mode: multiply;
    }
    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      transition: 0.5s ease;
      width: 100%;
    }
    &-bottom {
      position: absolute;
      z-index: 1;
      text-align: center;
      transform: translate(-50%, -0%);
      left: 50%;
      bottom: 30px;
      color: #fff;
      width: 100%;
      max-width: 175px;
      // @warn: DON'T DELETE
      transition: bottom 0.5s ease;
      // @warn: DON'T DELETE END
    }
    &-title {
      display: inline-block;
      font-size: rem(24px);
      font-weight: 600;
      line-height: 1;
      margin-bottom: 12px;
      font-family: $ffCormorant;
    }
    &-link {
      font-size: rem(12px);
      font-weight: 300;
    }
  }
  &-btn {
    display: none;
    width: 200px;
    @media (max-width: 400px) {
      display: block;
      margin: 0 auto;
    }
  }
}
.whywe {
  margin-bottom: 136px;
  padding-left: 8.33%;
  padding-right: 8.33%;
  @media (max-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 400px) {
    margin-bottom: 40px;
  }
  p {
    font-weight: 300;
    &:first-child {
      margin-bottom: 32px;
      margin-top: 9px;
    }
  }

  &-title {
    // max-width: 390px;
    // margin-bottom: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: 575px) {
      display: block;
    }

    &-text {
      font-size: rem(58);
      font-weight: 500;
      line-height: 0.9;
      margin-bottom: 16px;
      font-family: $ffCormorant;
      word-break: break-word;
      @media (max-width: 768px) {
        font-size: rem(42);
      }
    }
    &-link {
      font-size: rem(14);

      &:hover {
	      opacity: 0.5;
      }
    }
  }
}
// убрать padding
.collection {
  position: relative;
  text-align: center;
  // padding: 165px 0px;
  margin-bottom: 105px;
  overflow: hidden;
  height: 500px;
  display: flex;
  align-items: center;

  @media(max-width: 576px) {
    height: 300px;
    padding: 0;
    margin-bottom: 60px;
  }

  @media(max-width: 400px) {
      padding: 30px 0px;
        margin-bottom: 40px;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgb(75, 61, 50, 0.3);
    mix-blend-mode: multiply;
    z-index: -1;
  }

  // @media (max-width: 400px) {
  //   // padding: 30px 0px;
  //   margin-bottom: 40px;
  // }

  &-title {
    position: relative;
    z-index: 1;
    font-size: rem(80);
    line-height: 1;
    font-weight: 500;
    color: #fff;
    margin-bottom: 47px;
    font-family: $ffCormorant;
    @media (max-width: 576px) {
      font-size: rem(60);
      margin-bottom: 27px;
    }
    @media (max-width: 400px) {
      font-size: rem(44);
      line-height: 1.1;
      margin-bottom: 15px;
    }
  }
  &-link {
    background: transparent;

    &.ui-btn {
      @media(max-width: 768px) {
        padding: 0 40px;
      }
    }
  }
}
.bestsellers {
  margin-bottom: 35px;
  &-header {
    margin-bottom: 28px;
    align-items: baseline;
  }
  &-title {
    // font-size: rem(44);
    // font-weight: 500;
    padding-right: 15px;
    width: calc(100% - 15px);
    line-height: 1;
  }
  &-link {
    font-size: rem(14);
    padding-right: 20px;
    flex: 0 0 120px;
    max-width: 120px;
    @media (max-width: 400px) {
      font-size: rem(12);
    }
  }
}
.sale {
  position: relative;
  // padding: 169px 0px;
  height: 500px;
  margin-bottom: 120px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;

  @media(max-width: 576px) {
    height: 300px;
    padding: 0;
    margin-bottom: 60px;
  }

  @media(max-width: 400px) {
      padding: 40px 0;
        margin-bottom: 90px;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgb(75, 61, 50, 0.3);
    mix-blend-mode: multiply;
    z-index: -1;
  }

  @media (max-width: 768px) {
    padding: 40px 0;
    margin-bottom: 100px;
  }
  &-img {
    position: absolute;
    transform: translate(-50%, 0);
    top: 0;
    left: 50%;
    z-index: -1;
    width: 100vw;
    min-width: 1360px;
    @media(max-width: 768px) {
      object-fit: scale-down;
      transform: translate(-50%, -50%);
      top: 50%;
    }

    @media(max-width: 576px) {
      height: 300px;
      object-fit: cover;
      min-width: 0;
    }

    @media(max-width: 400px) {
    min-width: 0;
    }
  }
  &-wrapper {
    padding: 0 8.33%;
    @media(max-width: 768px) {
      text-align: center;
    }

    @media (max-width: 576px) {
      padding: 0;
    }
  }
  &-title {
    font-size: rem(80);
    line-height: 1;
    font-weight: 700;
    color: #fff;
    // max-width: 525px;
    margin-bottom: 40px;
    font-family: $ffCormorant;
    @media (max-width: 768px) {
      font-size: rem(60);
    }
    @media (max-width: 400px) {
      font-size: rem(44);
      // max-width: 200px;
    }
  }
  &-link {
    background: transparent;

    &.ui-btn {
      @media(max-width: 576px) {
        padding: 0 40px;
      }
    }
  }
}

.description {
  padding-left: 8.33%;
  padding-right: 8.33%;
  margin-bottom: 75px;
  @media (max-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 400px) {
    margin-bottom: 50px;
  }
  &-img {
    line-height: 0;
  }
  &-promo {
    padding-left: 83px;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media (max-width: 992px) {
      justify-content: start;
      padding-left: 0;
    }
    @media (max-width: 768px) {
      margin-bottom: 28px;
    }
    &-title {
      font-size: rem(44);
      font-weight: 500;
      margin-bottom: 32px;
      line-height: 1;
      font-family: $ffCormorant;
      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
    &-text {
      font-weight: 300;
      p:first-child {
        margin-bottom: 32px;
      }
    }
  }
  .col-sm-6:first-child {
    @media (max-width: 768px) {
      order: 2;
    }
  }
}
// col-hide for hide catalog-card 🌟
@media (max-width: 400px) {
  .col-hide {
    display: none;
  }
}
