.info {
    .container {
        max-width: 980px;
    }
    &-title {
        @media(max-width:576px) {
        // @warn: DON'T DELETE
            font-size: rem(40);
        //@warn: DON'T DELETE END
        }
    }
    &-order {
        margin-bottom: 100px;
        font-weight: 300;
        line-height: 1.5;
        p {
            margin-bottom: 16px;
        }

        @media(max-width:576px) {
            margin-bottom: 30px;
        }
    }
    &-pay {
        margin-bottom: 100px;
        line-height: 1.5;

        p {
            margin-bottom: 28px;
            font-weight: 300;
            &:nth-of-type(2) {
                margin-bottom: 40px;
            }
            &:nth-of-type(3) {
                margin-bottom: 0;
            }
        }

        @media(max-width:576px) {
            margin-bottom: 30px;
        }
    }
    &-delivery {
        margin-bottom: 100px;
        line-height: 1.5;
        p {
            font-weight: 300;
            margin-bottom: 20px;
        }
        ul {
            padding-left: 20px;

            li {
                position: relative;
                margin-bottom: 16px;
                font-weight: 300;

                &::before {
                    display: inline-block;
                    position: absolute;
                    left: -10px;
                    top: 12px;

                     content:'';
                     width: 2px;
                     height: 2px;
                     border-radius: 50%;
                     background-color: black;
                }
                ul {
                    padding-top: 8px;
                    padding-left: 20px;
                    li {

                        font-weight: 300;


                        &:nth-of-type(4) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        @media(max-width:576px) {
            margin-bottom: 30px;
        }
    }
    &-exchange {
        margin-bottom: 100px;
        font-weight: 300;
        p {
            margin-bottom: 20px;
        }
        ul {
            padding-left: 40px;

            li {
                position: relative;
                margin-bottom: 16px;
                &::before {
                    display: inline-block;
                    position: absolute;
                    left: -10px;
                    top: 11px;

                     content:'';
                     width: 2px;
                     height: 2px;
                     border-radius: 50%;
                     background-color: black;
                }
            }
        }
        &:nth-last-of-type(4) {
            margin-bottom: 0;
        }
    }
    &-table {
        overflow: auto;
	    position: relative;
        margin-bottom: 32px;
        table {
            width: 100%;
            max-width: 100%;
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;


        }
        tr th {
            text-align: center;
            vertical-align: middle;
            background-color: #F6F2EC;
            // @warn: DON'T DELETE
            padding: 29px 27px;

            @media(max-width: 576px) {
                padding: 29px 16px;
            }
            // @warn: DON'T DELETE END
        }
        tr td {
            text-align: center;
            vertical-align: middle;
            background-color: #F6F2EC;
            padding: 29px 5px;
            &:first-child {
                font-weight: 700;
            }
        }
    }
    &-tips {
        margin-bottom: 76px;
        font-weight: 300;
        p {
            margin-bottom: 20px;
        }
        ul {
            padding-left: 40px;
            li {
                position: relative;
                margin-bottom: 16px;
                &::before {
                    display: inline-block;
                    position: absolute;
                    left: -10px;
                    top: 12px;

                     content:'';
                     width: 2px;
                     height: 2px;
                     border-radius: 50%;
                     background-color: black;
                }
                &:nth-of-type(3) {
                    margin-bottom: 0;
                }
            }
        }

        @media(max-width:576px) {
            margin-bottom: 40px;
        }
    }
    &-review {
        margin-bottom: 100px;
        @media(max-width:992px) {
            margin-bottom:40px;
        }


        .info-title {
            margin-bottom: 20px;
        }
        &-img {
          position: relative;
          text-align: center;
            // @warn: DON'T DELETE
            max-height: 500px;

            img {
                max-height: 500px;
                line-height: 0;
            }
            // @warn: DON'T DELETE END
        }
        &-mob {
            display: none;

            @media(max-width:992px) {
                display: block;
                margin-bottom: 70px;
            }
            .info-review-btn {
                width: 100%;
            }
        }
        &-wrapper {
            position: absolute;
            text-align: left;
            // @warn: DON'T DELETE
            top: 106px;
            // @warn: DON'T DELETE END
            left: 387px;
            h2 {
                font-size: 80px;
                // @warn: DON'T DELETE
                margin-bottom: 22px;
                // @warn: DON'T DELETE END
            }

            @media(max-width:1440px) {
                left: 115px;
            }
            @media(max-width:1360px) {
                left: 111px;
            }
            @media(max-width:1170px) {
                left: 111px;
                // @warn: DON'T DELETE
                top: 45px;
                // @warn: DON'T DELETE
            }
            @media(max-width:992px) {
                display: none;
            }

        }
        &-txt {
            max-width: 420px;
            margin-bottom: 20px;
            font-weight: 300;
            // font-size: 16px;
        }
        &-btn {
            background-color:inherit !important;
            width: 200px;
            &:hover {
                opacity: 50%;
            }
        }
        // .container {
        //     max-width: 1166px;
        // }
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
         margin-left: auto;
         margin-right: auto;
         position: relative;
         overflow: hidden;
         min-width: 100%;
    }
    &-comments {
        &-review {
            position: relative;
        }
        &-name {
            font-family: $ffCormorant;
            font-weight: 500;
            font-size: rem(24);
            max-width: 90px;
            word-wrap: break-word;
        }
        &-container {
            display: inline-block;
            width: 100%;
            padding: 24px 20px;
            margin-bottom: 16px;
            text-align-last: left;
            border: 1px solid #DBD8D6;
        }
        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: auto;

            @media(min-width:992px){
                position: absolute;
                width: 96%;
                top: 18px;

            }
        }
        &-txt {
            margin-bottom: 12px;
            font-weight: 300;
        }
        &-data {
            font-weight: 300;
            opacity: 50%;
        }
        &-score {
            // vertical-align: top;
            text-align: center;
            font-weight: 300;
            font-size: rem(24);
            // margin-top: 18px;
            // margin-left: 20px;
            &-txt {
                display: block;
                font-size: rem(16);
            }
            &-mob {
                display: none;
                font-weight: 300;
                @media(max-width:992px) {
                    display: block;
                }
                .info-comments-score-txt {
                    display: inline-block;
                }
            }

            @media(max-width:992px) {
                display: none;
            }
        }
        &-wrap {
            display: block;
            text-align: right;

        }
        &-link {
            display: inline-block;
            margin-bottom: 20px;
            text-decoration: underline;
            font-weight: 300;
            &:hover {
                text-decoration: none;
            }
        }
        &-inner {
            display:block;
            margin: auto;
            width: 100%;
            @media(min-width:992px) {
                width: 688px;
            }
        }
    }
}
.comments-answer {
    display: none;
    margin-bottom: 0;
    background-color: #F6F2EC;
    margin-bottom: 50px;
}
.comments-answer.active {
    display: block;
}
.comments-link-mb {
    margin-bottom: 32px;
}
.info-order-1 {
    @media(max-width: 992px) {
        order: 1;
    }
}
.info-order-2 {
    @media(max-width: 992px) {
        order: 2;
    }
}
