.product {
  &-page {
    @media (max-width: 768px) {
      width: 80%;
      margin: 0px auto;
    }

    @media (max-width: 605px) {
      width: 100%;
    }
  }

  &-about {
    margin-bottom: 80px;
  }

  &-box {
    display: flex;
    justify-content: end;

    @media (max-width: 992px) {
      justify-content: center;
    }
  }

  &-link {
    margin-right: 102px;
    font-weight: 400;
    font-size: rem(14);
    color: #4B3D32;

    a {
      display: flex;
      align-items: center;

      &:hover {
        opacity: 0.5;
      }

      .arrow {
        margin-right: 7px;
        width: 7px;
        height: 7px;

        &-right {
          transform: rotate(-135deg);
        }
      }
    }

    @media (max-width: 1150px) {
      margin-right: 82px;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &-slider {
    display: flex;
    overflow: hidden;
      // @warn: DON'T DELETE
    width: 100%;
    flex: 0 0 100%;
      // @warn: DON'T DELETE
  }

  &-items {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 84px;
    // @warn: DON'T DELETE
    @media(max-width: 576px) {
      flex: 0 0 72px;
      max-width: 72px;
    }
    // @warn: DON'T DELETE



    .slick {
      &-track {
        display: block;
      }

      &-slide {
        border: none;
        cursor: pointer;
      }

      &-arrow {
        background: #4B3D32;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        color: #fff;
      }

      &-list {
        min-height: 100%;
      }

      &-next {
        position: absolute;
        bottom: 0;
        // width: 100%;

        .product-items .slick-prev {
          width: 100%;
        }
      }

      &-arrow {
        i {
          margin: -5px auto;
          border: solid #fff;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 6px;
        }
      }

      &-prev {
        i {
          margin: -5px auto;
        }

        .up {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }

        &:hover {
          background-color: #a59e99;
        }
      }

      &-next {
        i {
          margin: 2px auto;
        }

        .down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }

        &:hover {
          background-color: #a59e99;
        }
      }
    }

    img {
      margin-bottom: 18px;
    }
  }

  &-preview {
      // @warn: DON'T DELETE
    width: calc(100% - 84px - 15px);
    margin-left: 15px;
      // @warn: DON'T DELETE
    line-height: 0;
    // padding-left: 15px;

      // @warn: DON'T DELETE
    @media(max-width: 576px) {
      position: relative;
      // width: calc(100% - 87px);
      flex: 0 0 calc(100% - 87px);
      max-width: calc(100% - 87px);
      margin-left: 15px;
      overflow: hidden;
    }

    img {
      @media(max-width: 576px) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: none;
        // min-height: 100%;
        height: 100%;
      }
    }
    // @warn: DON'T DELETE
  }

  &-info {
    margin-bottom: 28px;
    color: #4B3D32;

    &-block {
      @media (max-width: 768px) {
        margin-top: 28px;
      }
    }

    &-title {
      font-family: $ffOpenSans;
      font-weight: 400;
      font-size: rem(16);
      color: #4B3D32;
    }

    &-price {
      font-weight: 300;
      font-size: rem(32);

      span {
        font-weight: 400;
        font-size: rem(12);
	      margin-left: 8px;
      }
    }

    &-color {
      .color-section {
        height: auto;
        margin-bottom: 14px;

        .color {
          display: inline-block;
          position: relative;
          padding-left: 30px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: rem(22);
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          margin-top: 12px;

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked~.checkmark {
              border: 1px solid #4B3D32;
              top:-2px
            }

            &:checked~.checkmark:after {
              display: block;
              width: 16px;
              height: 16px;
              top: 3px;
              left: 3px;
            }
          }

          // &:hover input~.checkmark {
          //   border: 1px solid #4B3D32;
          // }
        }

        .color:nth-child(2) {
          .checkmark {
            &:after {
              content: "";
              position: absolute;
              // top: 3px;
              // left: 3px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              // background: #736F63;
            }
          }
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 24px;
          width: 24px;
          // border: 1px solid #DBD8D6;
          border-radius: 50%;

          // &:after {
          //   content: "";
          //   position: absolute;
          //   top: 3px;
          //   left: 3.5px;
          //   width: 16px;
          //   height: 16px;
          //   border-radius: 50%;
          //   background: #fff;
          // }
        }
      }

      .chosen-color {
        font-weight: 400;
        font-size: rem(16);
        color: #4B3D32;

        span {
          font-weight: 300;
        }
      }
    }

    &-size {
      .size-section {
        margin-bottom: 16px;

        .size {
          display: inline-block;
          position: relative;
          cursor: pointer;
          font-size: 0.75rem;
          text-align: center;
          border: 1px solid #DBD8D6;
          border-radius: 50%;
          padding: 25px;
          overflow: hidden;
          margin-right: 18px;
          width: 48px;
          height: 48px;

          &:hover {
            border: 1px solid #4B3D32;
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked~.checkmark {
              border: 1px solid #4B3D32;
              background: #4B3D32;
              color: #fff;
            }

            &:after {
              content: "";
              position: absolute;
              display: none;
            }
          }
        }

        .checkmark {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          span {
            font-weight: 300;
          }

          &:after {
            top: 9;
            left: 50;
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }
        }
      }

      .size-text {
        color: #4B3D32;

        .desc {
          margin-bottom: 8px;
          font-size: 16px;
          font-weight: 400;

          span {
            font-weight: 300;
          }
        }

        a {
          font-weight: 300;
          text-decoration: underline;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    &-btn {
      .btn-cart {
        width: 200px;
        height: 40px;
        background: #4B3D32;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: rem(14);
        color: #fff;

        &:hover {
          .product-info-btn {
            .btn-cart:disabled {
              .ui-basket:disabled {
                background: rgba(75, 61, 50, 0.5);
              }
            }
          }
        }
      }
    }

    &-characteristic {
      .desc {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: rem(16);

        span {
          font-weight: 300;
        }
      }
    }
  }

  &-middle {
    .product-clothes {
      margin-bottom: 45px;
    }
  }

  .ui-title {
    margin-bottom: 28px;
      // @warn: DON'T DELETE
    line-height: 1.1;
      // @warn: DON'T DELETE
  }
}