.search {
  &-page {
    .product-middle {
      margin-top: 200px;
    }
  }
  
  &-request {
    margin-bottom: 32px;
    font-family: $ffOpenSans;
    font-weight: 300;
    font-size: 16px;
    color: #4B3D32;
  }

  &-result {
    margin-top: 96px;
    font-family: $ffOpenSans;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #4B3D32;
  }
}