.search {
  &-page {
    @media (max-width: 576px) {
      margin-top: 60px;
    }
  }

  &-request {
    margin-bottom: 32px;
    font-family: $ffOpenSans;
    font-weight: 300;
    font-size: 16px;
    color: #4B3D32;
  }

  &-result {
    margin-top: 96px;
    font-family: $ffOpenSans;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #4B3D32;
  }
}

#not-found {
  .product {
    &-middle {
      margin-top: 200px;
      @media (max-width: 576px) {
        margin-top: 100px;
      }
    }
  }
}