.search {
  &-page {
    .product {
      &-middle {
        margin-top: 45px;
      }

      &-link {
        margin-right: 0;

        @media (max-width: 992px) {
          display: block;
          margin-top: 12px;
        }
      }

      &-text {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 28px;
        
        .ui-arrow-brown {
          &::after {
            top: 1px;
          }
        }

        @media (max-width: 992px) {
          flex-direction: column;
        }
      }
    }
  }

  &-request {
    margin-bottom: 32px;
    font-family: $ffOpenSans;
    font-weight: 300;
    font-size: 16px;
    color: #4B3D32;
  }

  &-result {
    .catalog-item {
      text-align: start;
    }
  }
}

#found {
  .search-result {
    margin-top: 0;
  }
}