p {
  margin: 0px 0px 22px;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $ffCormorant;
  font-weight: 500;
  text-transform: none;
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  font-size: rem(120);

  margin-top: 0;
  line-height: 1.42;
}

h2,
.h2 {
  margin-bottom: 28px;
  font-size: rem(44);
  line-height: 1.1;
  color: $colorBlack;
  @media(max-width:576px) {
      font-size: rem(28);
  }
}

h3,
.h3 {
  font-size: rem(44);

  line-height: 1.42;
}

h4,
.h4 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: rem(24);
  line-height: 1.1;
  color: $colorBlack;
}
h6,
.h6 {
  margin-bottom: 16px;
  font-size: rem(18);
  line-height: 1.1;
  color: $colorBlack;
}
a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

b,
h1,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $colorBlack;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  // font-family: $ffCoFo;
}

button {
  cursor: pointer;
  // font-family: $ffCoFo;
}
input,
textarea {
  outline: none;
}

// Example of Btn
.ui-btn {
  display: inline-block;
  height: 38px;
  line-height: 36px;
  background: #fff;
  padding: 0px 36px;
  font-family: $ffOpenSans;
  font-weight: 400;
  font-size: rem(14px);
  color: $colorBlack;
  text-align: center;
  cursor: pointer;
  border: 1px solid $colorBlack;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
}
.ui-btn-white {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.ui-link {
  display: flex;
  font-family: $ffOpenSans;
  font-weight: 400;
  font-size: rem(14px);
  color: $colorBlack;

  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
  img {
    margin-left: 4px;
    &:hover {
      opacity: 0.5;
    }
  }
}
.ui-basket {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background: #fff;
  padding-right: 23.5px;
  padding-left: 23.5px;
  font-family: $ffOpenSans;
  font-weight: 400;
  font-size: rem(14px);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background-color: $colorBlack;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s ease;
  &:not([disabled]):hover {
    opacity: 0.5;
  }
}
// UI arrow
.ui-arrow {
  // &:hover {
  //   &::after {
  //     left: 12px;
  //   }
  // }
  &:hover {
    opacity: .5;
  }
  &::after {
    content: "";
    position: relative;
    left: 8px;
    top: -2px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 1.65px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.3s ease;
  }
}

.main-catalog-card-link.ui-arrow::after {
  left: 2px;
}

.ui-arrow-brown {
  &::after {
    border-color: $colorBlack;
  }
}
// Ui-title

.ui-title {
  font-size: rem(44);
  font-weight: 500;
  color: #4b3d32;
  font-family: $ffCormorant;
  @media (max-width: 400px) {
    font-size: rem(28);
  }
}

// UI Field

.ui-field {
  font-family: $ffOpenSans;
  margin-bottom: 28px;
  position: relative;
  label {
    display: block;
    margin-bottom: 4px;
    font-weight: 300;
  }
  input,
  select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #dbd8d6;
    color: $colorBlack;
    &:focus-visible,
    :focus,
    :active {
      border: 1px solid $colorBlack;
    }
  }
}
select {
  display: none;
}
// Jquery Form Styler - style 🚩
.jq-selectbox__select-text {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border: 1px solid #dbd8d6;
  color: $colorBlack;
  overflow: hidden;
  cursor: pointer;
  &:focus-visible,
  :focus,
  :active {
    border: 1px solid $colorBlack;
  }
  &::after {
    content: "";
    transform: translate(-50%, -50%) rotate(135deg);
    position: absolute;
    right: 18px;
    top: 50%;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
}

.jq-selectbox {
  position: relative;
}
.jq-selectbox__dropdown {
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #dbd8d6;
  padding: 0 10px;
  border-top: none;
}
.opened {
  .jq-selectbox__select-text {
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
