@import "grid";
@import "UI";
@import "header";
@import "footer";
@import "dima";

$ffCormorant: "Cormorant", serif;
$ffOpenSans: "Open Sans", sans-serif;
$colorBlack: #4b3d32;
// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}
// border style mixin

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: $ffCormorant;
  font-weight: 400;
  font-size: rem(16px);
  line-height: 1.42;
  color: $colorBlack;
  // background-color: $colorCyan;
  margin:0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  // min-height: 100%;
  min-width: 100%;
}
#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  padding-bottom: 45px;
  @media (max-width: 400px) {
    padding-bottom: 60px;
  }
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: 768px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.display-flex {
  display: flex;
}
.header-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-flex-left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.--grey {
  background-color: #736f63;
}
.catalog {
  &-title {
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: rem(44);
    font-weight: 500;
    color: $colorBlack;
  }
  &-txt {
    font-family: $ffOpenSans;
    font-weight: 300;

    margin-bottom: 75px;

    @media (max-width: 576px) {
      margin-bottom: 35px;
    }
  }
  &-item {
    margin-bottom: 75px;

    @media (max-width: 576px) {
      margin-bottom: 35px;
    }
    &-title {
      font-weight: 300;
      font-family: $ffOpenSans;

      transition: 0.5s ease;
      border-bottom: 1px solid rgba(255, 0, 0, 0);
      &:hover {
        border-bottom: 1px solid rgb(17, 17, 17);
      }
    }
    &-img {
      display: block;
      margin-bottom: 12px;
      width: 100%;
      line-height: 0;
      overflow:hidden;
      
      img {
        width: 100%;
        transition: 0.5s;
        
        &:hover {
          transform: scale(1.03);
        }
      }
    }
    &-description {
      font-family: $ffOpenSans;
      font-weight: 300;
    }
    &-price {
      display: inline-block;
      font-size: rem(32);
      font-family: $ffOpenSans;
      font-weight: 300;
    }
    &-currency {
      font-size: rem(12px);
      margin-right: 16px;
    }
    &-circles {
      display: inline-block;
    }
    &-circle {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #dbd8d6;
    }
  }
}
